---
import Main from "../layouts/Main.astro";
import Builder from "../components/Builder.astro";
import client from "@utils/client";

export const getStaticPaths = async () => {
  const query = `
query PagesQuery {
  pages {
    title
    slug
    sections {
      __typename
	  ... on Hero {
        id
        style
        title
        description
        buttons {
          style
          url
          text
        }
        image {
          url
        }
      }
      ... on Testimonial {
        id
        citationName
        citationTitle
        quote
      }
	  ... on FeatureList {
        id
        description
        subtitle
        title
        features {
          title
          description
        }
      }
	  ... on Grid {
        id
        description
        post {
          ... on Post {
            id
            slug
            title
            description
            publishDate
          }
        }
        title
      }
    }
  }
}`;

  async function formatData(data) {
    const formatted = data.map((item) => ({
      params: { slug: item.slug },
      props: { item },
    }));

    return formatted;
  }
  const pages = await client.request(query);
  return formatData(pages.pages);
};

const { item } = Astro.props;
---

<Main title={item.title}>
  {
    item.sections.map((section) => {
      return <Builder type={section.__typename} data={section} />;
    })
  }
</Main>
